*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: sans-serif;
}

p {
    max-width: 100ch;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #405d27;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

section {
    display: block;
}

#willkommen {
    background-color: #c1946a;
}