:root {
    --color_main: #2563EB;
    --color_backgrond: #0F172A;
    --color_accent: #A78BFA;
    --color_text: #E5E7EB;
    --color_text_secondary: #9CA3AF;
    --color_text_sidebar: #1E1B4B;
    --color_text_interactive: #60A5FA;

    --padding_default: 20px;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;

    color: white;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    padding: var(--padding_default);
    box-sizing: border-box;

    background-color: var(--color_accent);
    color: var(--color_text_sidebar);

    transition: width 0.3s ease;
    overflow: hidden;  
}

.sidebar.collapsed {
    width: 0%;
    padding: 0px;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar_button {
    background-image: url("imgs/burger-bar.png");
    background-size: cover;
    background-position: center;

    width: 30px;
    height: 30px;
}

.content {
    flex: 1;
    padding: var(--padding_default);
    box-sizing: border-box;

    background-color: var(--color_backgrond);
    color:var(--color_text)
}