:root {
    --primary-color: #D5896F;
    --secondary-color: #DAB785;
    --neutral-color: #04395E;
    --background: #031D44;
    --accent-color: #70A288;
}

.body {
    align-content: center;
}
.container {
    position: relative;
    width: 400px;   
    height: 100px;
    border-radius: 5px;
    border: 2px solid #2A2D34;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
}
